.about {
  &-modal {
    &-inner {
      position: relative;
      padding-block: 3rem;
      border-radius: 1rem;
      border-width: 1px;
      max-width: 95%;
      transform: scale(1);
      transition: all 0.3s;
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      p {
        font-weight: 400;
        font-size: 1.05rem;
        span {
          font-weight: 700;
        }
      }
      .section-space {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
        .community {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 2rem;
          &-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem; /* increased gap */
            @media (min-width: 768px) {
              grid-template-columns: 1fr 1fr;
            }

            @media (min-width: 1024px) {
              grid-template-columns: repeat(3, 1fr);
            }
          }
          &-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.2rem;
            padding: 2rem; /* more padding */
            border-radius: 1.25rem; /* softer corners */
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
              0 2px 4px -2px rgb(0 0 0 / 0.1); /* softer shadow */
            border-width: 1px;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover {
              transform: translateY(-10px); /* lift effect */
              box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
                0 8px 10px -6px rgb(0 0 0 / 0.1);
            }
          }
          &-header {
            display: flex;
            align-items: center;
            gap: 1rem;
          }
          &-name {
            font-size: 1.5rem; /* larger name */
            font-weight: 700;
          }
          &-social {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.25rem; /* larger gap between icons */
            &-link {
              border-radius: 9999px;
              transition: color 0.3s, background-color 0.3s, transform 0.3s;
              font-size: 1.3rem;
              height: 3rem;
              width: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
              &:hover {
                transform: scale(1.15); /* larger scale */
              }
            }
          }
        }
        .collaborators {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          &-list {
            width: 100%;
            overflow-x: auto;
            &-inner {
              width: fit-content;
              display: flex;
              gap: 0.9rem;
              @media (min-width: 768px) {
                flex-wrap: wrap;
                width: 100%;
                gap: 1.5rem;
              }
            }

            .collaborator {
              &-card {
                border-radius: 1rem;
                overflow: hidden;
                transition: transform 0.3s, box-shadow 0.3s;
                width: 18rem;
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
                &:hover {
                  transform: translateY(-5px);
                  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
                }
              }
              &-photo {
                width: 100%;
                height: 200px;
                object-fit: cover;
                &-container {
                  width: 100%;
                }
              }
              &-info {
                padding: 1rem;
              }
              &-name {
                font-size: 1.125rem;
                font-weight: 700;
                margin-bottom: 0.25rem;
              }
              &-handle {
                font-size: 0.875rem;
                margin-bottom: 0.5rem;
              }
              &-collaboration {
                font-size: 0.875rem;
              }
            }
          }
        }
        .subsection {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          &-title {
            font-size: 1.5rem;
            font-weight: 600;
          }
        }

        .photo {
          &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-top: 2rem;

            @media (min-width: 768px) {
              grid-template-columns: repeat(3, 1fr);
            }

            @media (min-width: 1024px) {
              grid-template-columns: repeat(4, 1fr);
            }
          }
          &-img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
            transition: transform 0.3s;
          }
          &-card {
            position: relative;
            border-radius: 0.5rem;
            overflow: hidden;
            transition: transform 0.3s;
            .handle {
              &-overlay {
                pointer-events: none;
                background: linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0.7) 0%,
                  rgba(0, 0, 0, 0) 100%
                );
                div {
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  justify-content: end;
                  width: 90%;
                  height: 90%;
                  padding-block: 0.6rem;
                  gap: 1rem;
                  bottom: -4rem;
                  position: relative;
                  transition: all 0.5s ease;
                }
              }
              &-text {
                font-size: 14px;
              }
            }
            &:hover {
              transform: scale(1.05);
              .photo-img {
                transform: scale(1.1);
              }
              .handle {
                &-overlay {
                  opacity: 1;
                  pointer-events: auto;
                  div {
                    bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
      @media (min-width: 768px) {
        width: 80vw;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 3rem;
    }
    .subsection {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .info {
      &-grid {
        display: grid;
        gap: 2rem;
        width: 100%;
        margin-top: 2rem;
        font-weight: 400;
        grid-template-columns: 1fr;
        @media (min-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
        &-right,
        &-left {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        &-right {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          @media (min-width: 768px) {
            display: flex;
          }
        }
      }
      &-icon {
        font-size: 1rem;
      }
      &-item {
        display: flex;
        align-items: start;
        gap: 0.5rem;
      }
      &-label {
        font-weight: 400;
        font-size: 0.9rem;
      }
      &-value {
        font-size: 0.95rem;
        font-weight: 600;
      }
    }
  }
  &-image-container {
    height: 31rem;
    width: 100%;
    flex-shrink: 0;
    @media (min-width: 768px) {
      display: flex;
      width: 27%;
    }
  }
  &-image {
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    object-fit: cover;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  &-title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }
  &-desc {
    margin-bottom: 1.5rem;
  }
}
