.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
  /* Custom CSS for the photo gallery */
  .handle {
    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      opacity: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: opacity 0.3s ease-in-out;
    }
    &-text {
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
    }
  }

  .cv-button {
    border-radius: 9999px;
    font-size: 1.125rem;
    font-weight: 700;
    transition: text-decoration 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &:hover {
      transform: scale(1.05);
    }
  }

  /* Contact modal */
  .contact-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    input,
    textarea {
      width: 95%;
      padding-inline: 1rem;
      border-radius: 0.2rem;
      border: 1px solid;
    }
    input {
      height: 2.5rem;
    }
    textarea {
      padding-block: 0.5rem;
    }
  }

  .underline-hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.125rem;
    transition: width 0.3s;
    border-radius: 9999px;
  }

  .underline-hover:hover::after {
    width: 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    width: 100%;
padding-block-end: 2rem;
    .hero {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      min-height: 89vh;
      @media (min-width: 768px) {
        min-height: 100vh;
      }

      // &-bg {
      //   position: absolute;
      //   inset: 0;
      //   z-index: 0;
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   &::after {
      //     content: "";
      //     top: -50%;
      //     left: -50%;
      //     width: 200%;
      //     height: 200%;
      //     background: radial-gradient(
      //       circle,
      //       rgba(255, 255, 255, 0.05) 0%,
      //       transparent 70%
      //     );
      //     animation: rotate 20s linear infinite;
      //   }
      // }
      // &-gradient {
      //   position: absolute;
      //   inset: 0;
      //   opacity: 0.1;
      //   width: 100%;
      //   background-image: radial-gradient(
      //     ellipse at center,
      //     rgba(30, 41, 59, 0.2) 0%,
      //     rgba(30, 41, 59, 0) 70%
      //   );
      // }
      &-content {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.9rem;
        width: 90%;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      &-title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -0.025em;
        animation: fadeInDown 1s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.3rem;
        @media (min-width: 768px) {
          font-size: 4.5rem;
          display: block;
        }
      }

      @keyframes fadeInDown {
        from {
          opacity: 0;
          transform: translateY(-20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        animation: fadeIn 1.5s ease-out;
        @media (min-width: 768px) {
          font-size: 1.875rem;
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.125rem;
        font-weight: 400;
        max-width: 32rem;
        animation: fadeIn 2s ease-out;
        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
      &-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
        .view-work-button {
          border-radius: 9999px;
          font-size: 1.125rem;
          font-weight: 600;
          color: white;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
          transform: scale(1);
          transition: transform 0.3s, background-image 0.3s;
          animation: fadeInUp 2.5s ease-out;
          &:hover {
            transform: scale(1.05);
          }
        }

        .learn-more-button {
          padding-left: 2rem;
          padding-right: 2rem;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          border-radius: 9999px;
          font-size: 1.125rem;
          font-weight: 700;
          border: 1px solid;
          transition: transform 0.3s;
          animation: fadeInUp 2.5s ease-out;
          &:hover {
            transform: scale(1.05);
          }
        }
      }

      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    section {
      min-height: 80vh;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      gap: 1rem;
      .section-title {
        font-size: 2.2rem;
        font-weight: 700;
        text-align: center;
      }

      @media (min-width: 768px) {
        .section-title {
          font-size: 3rem;
        }
      }
    }
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    .project-card {
      border-radius: 1rem;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      &:hover {
        transform: scale(1.02);
        .handle-overlay {
          opacity: 1;
        }
        .detail-button {
          bottom: 0;
          transform: scale(1);
        }
        img {
          transform: scale(1.1);
        }
      }
      .image-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s;
        }
        @media (min-width: 768px) {
          height: 65%;
        }
      }

      .detail-button {
        padding: 0.75rem 1.5rem;
        background-color: white;
        color: #111827;
        border-radius: 9999px;
        font-weight: 600;
        font-size: 0.875rem;
        transform: scale(0.95);
        transition: all 0.3s;
        position: relative;
        bottom: -10rem;
      }
      &-bottom {
        padding-block-start: 0.5rem;
        padding-block-end: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 45%;
        align-items: center;
        gap: 0.7rem;
        width: 100%;
        .project-name {
          font-size: 18px;
          font-weight: 700;
          width: 92%;
        }
        .line-clamp-3 {
          width: 92%;
        }
        .tech {
          &-tags {
            width: 92%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
          }
          &-tag {
            height: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            font-size: 0.75rem;
            font-weight: 500;
            background-color: #1e293b;
            padding-inline: 0.5rem;
            
          }
        }
        .links {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 3rem;
          width: 92%;
          .link {
            border-radius: 0.3rem;
            display: flex;
            gap: 0.2rem;
            align-items: center;
            justify-content: center;
            font-size: 14px;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .tech-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 100%;

    .tech-category {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      &-title {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .tech-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 3rem;
    }

    .tech-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .tech-logo {
      width: 3rem;
      height: 3rem;
    }

    .tech-name {
      font-weight: 500;
      font-size: 0.875rem;
    }
  }

  @media (min-width: 1024px) {
    .tech-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  @media (min-width: 768px) {
    .testimonials-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
